:root {
    --fuenteHeading: 'Square Peg', cursive;
    --fuenteParrafos: 'Roboto', sans-serif;

    --white: #ffffff;
    --black: #000000;
    --orange: #fe6f27;
    --ligthgray: #8C8C8C;
    --darkgray: #fffdf5;
    --darker: #1E1E1E;
}