:root {
    --primary: #F76262;
    --second: #fff;
    --darkgraymodern: #816666;
    --black: #111;
    --ligthgray: #8C8C8C;
    --red: #FF0000;
    --darker: #121212;
    
    --niga: #000;
    --primaryDark: #734aab;
    --darkgray: #1f1f1f;
    
    
}
