html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--darkgray);
}

body{
    margin: 0 auto;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
/* NAV */
.a{
    position: fixed;
    z-index: 100;
}
/* edit banner and profile */
header {
    position: relative;
    width: 100%;
    height: 60vh;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 6rem;
}

.ftprofile {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background-size: cover;
    background-image: url(../img/perfil.png);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10rem;
    border: 0.5rem solid var(--white);
    top: 70%;
    left: 20%;
    z-index: 50;

}
.btn_editar{
    position: absolute;
    font-family: var(--fuenteParrafos);
    text-align: center;
    padding: 1rem 5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-color: var(--orange);
    border-radius: 0.5rem;
    background-color: var(--black);
    color: var(--orange);
    cursor: pointer;
    top: 100%;
    right: 20%;
    margin-top: 3.5rem;
    z-index: 50;
}

.contain-info-profile{
    width: 100%;
    height: 15vh;
    background-color: var(--darkgray);
    position: relative;
}
.name_user{
    color: var(--orange);
    font-size: 2.2rem;
    text-align: center;
    padding-top: 1.5rem;
    font-weight: bold;
    position: absolute;
    left: 38%;
}
/* FOLLOW */
.follow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.8rem;
    color: var(--ligthgray);
    position: absolute;
    left: 35%;
    top: 60%;
}
.cont{
    color: var(--orange);
}
.lbl-ligthgray{
    color: var(--ligthgray);
}
/* upload post  */
main{
    margin: 0 3rem;
}
.upload{
    background-color: var(--darkgray);
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    width: 100%;
    padding: 1rem;
}
.upload__field{
    display: flex;
    width: 95%;
}
.upload__fiel-input{
    width: 100%;
    margin: 0 auto;
    border: none;
    background-color: var(--black);
    outline: none;
    border-radius: 0.3rem;
    color: var(--white);
    font-size: 1.3rem;
    padding-left: 1rem;
}
.post__fiel-input::placeholder{
    color: var(--orange);
}
.img{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}
.img-user{
    background-image: url(../img/perfil.webp);
    width: 4rem;
    height: 3rem;
    border-radius: 4rem;
    margin-right: 1.5rem;
}
.img-photo{
    background-image: url(../img/PostImage.png);
    width: 4rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    border: 1px solid var(--black);
}
.img-maps{
    background-image: url(../img/PostMap.png);
    width: 4rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    border: 1px solid var(--black);
}

/* field option new, salient, most voted */
.post_most{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    background-color: var(--darkgray);
    border-radius: 0.5rem;
    width: 100%;
    padding: 1rem;
}
.most-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    
}
.most{
    width: 95%;
}
.most_btn{
    background-color: var(--black);
    color: var(--orange);
    border-radius: 0.5rem;
    border: 1px solid var(--ligthgray);
    width: 100%;
    padding: 0.5rem 0;
    font-weight: bold;
    cursor: pointer;
}
.most_btn:first-of-type{
    background-color: var(--orange);
    color: var(--black);
    border: 1px solid var(--black);
}
/* contain */
main{
    margin: 0 5rem;
}
.contain{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    height: auto;
}
.contain_grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    margin: 0 18rem;
    position: relative;
}
/* post */
.container_post{
    margin-top: 1.5rem;
    background-color: var(--darkgray);
    border-radius: 0.5rem;
    width: 100%;
    padding: 1rem;
}
.container_p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_descr{
    display: flex;
    width: 100%;
}
.flex_desc{
    display: grid;
    grid-template-columns: 0fr 1fr 1fr 1fr 1fr 0fr;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.img-post{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5rem;
    margin-left: 1.5rem;
}
.l_one{
    margin-left: 0.5rem;
}
.l_two{
    display: flex;
    
}
.label_post_by{
    margin-top: 1rem;
    
}
.p_post{
    margin-left: 0.2rem;
    color: var(--orange);
}
.l_four{
    text-align: right;
    margin-right: 1rem;
}
.l_five{
    margin-right: 1rem;
    background-image: url(../img/MenuPoints.png);
    width: 1.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: right;
}
.container_info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ligthgray);
}
.container_info-descrip{
    width: 95%;
}
.container_img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_post{
    width: 96%;
    height: 40vh;
}
.flex_option{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container_option{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
}
.flex_img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.img_like{
    background-image: url(../img/Like.png);
    width: 2rem;
    height: 2rem;
    border: none;
}
.img_comen{
    background-image: url(../img/Replys.png);
    width: 2rem;
    height: 2rem;
}
.img_pointer{
    background-image: url(../img/Spot.png);
    width: 2rem;
    height: 2rem;
}
/* descrip */
.conten{
    width: 100%;
}
section{
    background-color: var(--darker);
    border-radius: 0.5rem;
    margin: 0 2rem;
    margin-top: -1.6rem;
    
}
.h2_descrip{
    color: var(--orange);
    font-size: 2rem;
    text-align: center;
}
.contain_descrip{
    display: flex;
    justify-content: center;
    margin: 0;    
}
.p_descrip{
    color: var(--ligthgray);
    width: 80%;
    font-size: 1.5rem;
    margin: 0; 
    padding-bottom: 1rem;
}

/* footer */
footer{
    margin-top: 2rem;
}
.container_footer{
    background-color: var(--darkgray);
    border-radius: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    margin: 0 2rem;
}
.footer_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 1rem;
}
.footer_relleno{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 1rem;
}
a{
    color: var(--ligthgray);
    text-decoration: none;
}
.rell{
    padding-top: 0.5rem;
}
.esp{
    padding: 0.5rem 1rem;
}
label{
    color: var(--ligthgray);
}