/*
SocialSpot 2022
Made by: 
 soulbroken
 Prybet
*/
/* 
    Created on : 13-ago-2022, 13:16:46
    Author     : nacho
*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--darkgraymodern);
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: var(--fuenteParrafos);
}
/* GLOBALES */
.no-margin {
    margin: 0 auto;
}

/* NAV */
.a{
    position: fixed;
    z-index: 100;
    width: 100%;
}

/* POST */
.container_post{
    display: flex;
    justify-content: center;
    margin-top: 7.5rem;
    width: 100%;
}
.contain_post-grid{
    width: 113rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.contain_post-general{
    width: 90%;
}

/* REPLY */
.container_reply{
    width: 68rem;
    background-color: var(--darker);
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1rem 0;
    flex-direction: column;
}
.container_reply_field{
    width: 92%;
    font-size: 1.5rem;
}
span{
    color: var(--primary);
    font-weight: bold;
}
.input_textarea{
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--ligthgray);
    background-color: var(--darkgray);
    outline: none;
    border-radius: 0.3rem;
    color: var(--second);
    font-size: 1.5rem;
    padding-left: 1rem;
    resize: none;

    padding-bottom: 3rem;
}
.input_textarea::placeholder{
    color: var(--ligthgray);
}
.container_color{
    background-color: var(--ligthgray);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}
.flexo{
    display: flex;
    justify-content: right;
    align-items: center;
    background: var(--ligthgray);
    margin: 0 auto;
    border-radius: 0.5rem;
}
.btn_reply{
    background-color: var(--ligthgray);
    border: none;
    color: var(--black);
    font-weight: bold;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
}
.btn_reply:hover{
    color: var(--primary);
}
hr{
    margin: 1rem;
    border: 1px solid var(--primary);
    width: 90%;
}
.contain_reply{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contain_reply-profile{
    display: flex;
    justify-content: left;
    width: 100%;
    margin: 0.5rem 3rem;
    font-size: 1.5rem;
}
.img_profile-reply{
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
}
.contain_reply_details{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    width: 100%;
}
.nom_time{
    display: flex;
}
.lbl_nom-repl{
    margin-right: 2rem;
}
.reply_comm{
    margin: 0;
    color: var(--ligthgray);
    font-size: 1.5rem;
}
.lbl_reply{
    margin-top: 0.5rem;
    cursor: pointer;
}
.textarea_reply{
    visibility: hidden;
    display: none;
    width: 100%;
}
.flexrigth{
    display: flex;
    justify-content: right;
    width: 100%;
    background-color: var(--ligthgray);
    border-radius: 0.5rem;
}
.frm-reply{
    width: 100%;
    background-color: var(--ligthgray);
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.btn_reply-right{
    background-color: var(--ligthgray);
    border: none;
    color: var(--black);
    font-weight: bold;
    margin-bottom: 0.5rem;
    cursor: pointer;
    text-align: right;
    visibility: hidden;
    display: none;
    padding-top: 0.5rem;
}
.btn_reply-right:hover{
    color: var(--primary);
}
.contan_rep{
    display: flex;
    margin-top: 1rem;
}
.contain_rep{
    margin-left: 0.5rem;
}


/* CATEGORY */
 .contain_detail{
    width: 100%;
    display: flex;
    justify-content: right;
    
}
.contain_detail-cate{
    width: 85%;
}
.details_cate{
    background-color: var(--darker);
    width: 100%;
    border-radius: 0.5rem;
}
.contai{
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    background-color: var(--primary);
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
}
.contain_img-post{
    width: 100%;
    display: flex;
    justify-content: right;
}
.img_cate{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: #111111;
    background-position: center;
    background-size: 5rem;
}
.cate_name{
    width: 100%;
    font-size: 1.5rem;
    margin-left: 1rem;
}
.contain_descrip{
    background-color: var(--darker);
    color: var(--ligthgray);
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
}
.contain_btn-foll{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_foll{
    background-color: var(--primary);
    color: var(--black);
    border: 1px solid var(--black);
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    font-weight: bold;
} 
.btn_foll:hover{
    background: var(--black);
    color: var(--primary);
    cursor: pointer;
    border: 1px solid var(--primary);
}

/* VOTED DIF */
 .contain_spot{
    background-color: var(--darker);
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
}
.contain_spot-info{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
.con_imgSpot{
    display: flex;
    justify-content: right;
    align-items: center;
}
.imgSpot{
    width: 6rem;
    height: 6rem;
    border-radius: 5rem;
}
.h2_dif{
    color: var(--primary);
    font-size: 1.7rem;
    padding: 1rem 0;
    margin: 0;
    padding-left: 1rem;
}
.contain-map{
    background-color: var(--second);
    width: 100%;
    height: 40vh;
}
.contain_vote{
    background-color: var(--darker);
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
}
.contain_vote-tittle{
    width: 100%;
    padding-bottom: 1rem;
    text-align: center;
}
.who_vote{
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: bold;
}
.contain_voted{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.5rem;
}
.flex-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
/* MODE */
.container_mode{
    background-color: var(--darker);
    border-radius: 0.5rem;
    width: 100%;
    margin-top: 2rem;
    border-radius: 0.5rem;
    padding: 1rem 0;
}
.h2_mode{
    margin: 0.5rem 0;
    font-size: 1.8rem;
    color: var(--primary);
    text-align: center;
}
.mode_contain{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_mode{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: var(--black);
    border-radius: 0.5rem;
    border: 1px solid var(--second);
    padding: 0.5rem 0;
    cursor: pointer;
}
.img_mode{
    background-image: url(../img/rectangle.png);
    width: 3rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-size: 2rem;
    border: 1px solid var(--second);
    background-size: cover;
}
.lbl_mode{
    color: var(--second);
}
.mode_email{
    padding-top: 1rem;
}
.lbl_mode-email{
    color: var(--primary);
    font-size: 1.5rem;
    margin-left: 3.2rem;
    cursor: pointer;
    
}

/* FOOTER */
 .flex-footer{
    width: 100%; 
    margin: 2rem 0;
}
.container_footer{
    background-color: var(--darker);
    border-radius: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    box-shadow: 0px 0px 30px var(--darker);
    padding: 1rem;
}
.container_footer label{
    color: var(--primary);
}
.footer_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 1rem;
}
.footer_relleno{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 1rem;
}
a{
    color: var(--ligthgray);
    text-decoration: none;
}
.rell{
    padding-top: 0.5rem;
}
.esp{
    padding: 0.5rem 1rem;
}
label{
    color: var(--primary);
} 

.l{
    font-size: 10rem;
} 
.com{
    color: var(--second);
}

/* MODAL */
.contain_modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
    background-color: rgba(0, 0, 0, 0.329);
    z-index: 200;
}
.contain_mod{
    width: 40rem;
    height: 40rem;
    font-size: 2rem;
    position: relative;
    background-color: var(--darker);
    top: 50%;
    margin-top: -20rem;
    left: 50%;
    margin-left: -20rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    display: grid;
    grid-template-columns: 1fr;
}
.btn{
    width: 60%;
    background-color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--black);
    font-weight: bold;
    border: 1px solid var(--primary);
}
.btn:last-of-type{
    margin-top: 2rem;
}
.btn:hover{
    background-color: var(--black);
    transition: 0.5s;
    color: var(--primary);
    border: 1px solid var(--ligthgray);
}
.contain_btn-profile{
    display: flex;
    justify-content: center;

}
/* MODAL REPORT */
.contain_report{
    width: 40rem;
    height: 40rem;
    font-size: 2rem;
    position: relative;
    background-color: var(--darker);
    top: 50%;
    margin-top: -20rem;
    left: 50%;
    margin-left: -20rem;
    border-radius: 0.5rem;
    display: flex;
    border: 1px solid var(--primary);
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 2rem 0;
}

.question{
    color: var(--primary);
    font-size: 2.5rem;
}
.contain-form{
    padding: 1rem 3rem;
    color: var(--ligthgray);
}
.lbl-ques{
    text-align: left;
    color: var(--primary);
    font-size: 2rem;
}
.conta_rep{
    display: grid;
    grid-template-columns: 0fr 1fr;
    margin: 1rem 0;
}
.second-div{
    margin: 1rem;
}
.center{
    text-align: center;
    margin: 0;
}
.input_report{
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
}
.btn{
    width: 60%;
    background-color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--black);
    font-weight: bold;
    border: 1px solid var(--primary);
}
.btn:hover{
    background-color: var(--black);
    transition: 0.5s;
    color: var(--primary);
    border: 1px solid var(--ligthgray);
}
.contain_btn-profile{
    display: flex;
    justify-content: center;
}
.contain_modal-profile{
    visibility: hidden;
    display: none;
}
.upload__fiel-input{
    width: 100%;
    margin: 0 auto;
    border: none;
    background-color: var(--black);
    outline: none;
    border-radius: 0.3rem;
    color: var(--white);
    font-size: 1.3rem;
    padding-left: 1rem;
}
/* MODAL EDIT POST*/
.contain_btn-editPost{
    visibility: hidden;
    display: none;
}
/* MODAL DELETE POST*/
.contain_btn-deletePost{
    visibility: hidden;
    display: none;
}
/* HASHTAG */
.contain_hashtag{
    display: flex;
    flex-wrap: wrap;
}
.conten_lbl-hash{
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    margin: 0.5rem 0.2rem;
    font-size: 1.7rem;
}
.conten_btn-hashtag{
    margin-left: 0.5rem;
    margin-top: -0.1rem;
}
.btn_hashtag{
    display: none;
    visibility: hidden;
}
/*  MODAL WARNING REPORT */
.modal-warning{
    opacity: 1;
    pointer-events: auto;
}
.div-warning{
    display: flex;
    justify-content: center
}
.conta_warn{
    display: grid;
}
.btn-warning{
    margin-top: 5rem;
    background-color: var(--primary);
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--black);
    font-weight: bold;
    border: 1px solid var(--primary);
}
.btn-warning:hover{
    background-color: var(--black);
    color: var(--primary);
    border: 1px solid var(--primary);
}
.lblWar{
    margin-top: 1.5rem;
}

@media(max-width: 1196px){
    .details_cate, .container_mode{
        display: none;
    }
    .contain_post-grid{
        grid-template-columns: 1fr;
        width: 75rem;
    }
    .contain_post-general{
        width: 100%;
    }
    .container_reply{
        width: 100%;
    }
    .flex-footer{
        margin-top: 0rem;
    }
    .maps{
        display: flex;
        justify-content: center;
    }
    .contain_spot{
        margin-bottom: 2rem;
        margin-top: -0.5rem;
    }
}
@media(max-width: 796px){
    .contain_post-grid{
        display: flex;
        flex-direction: column;
        width: 43rem;
    }
}
@media(max-width: 796px){
    .contain_post-grid{
        width: 95%;
    }
}
@media(max-width: 420px){
    .contain_mod, .contain_report{
        width: 35rem;
        left: 56%;
    }
}