/* html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--darkgray);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.no-margin{
    margin: 0 auto;
}
body{
    margin: 0 auto;
}
.fonth2{
    font-size: 2.2rem;
    width: bold;
    padding: 1rem 0;
    padding-top: 2rem;
    text-align: center;
} */
/* input file */
/* .con{
    position: relative;
} */



/* edit banner and profile */
/* header {
    position: relative;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ftprofile {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10rem;
    border: 0.5rem solid var(--white);
    top: 50%;
    left: 45%;
    margin: -25px 0 0 -25px;
} */
/* file input */
/* .fullscreen2 {
    margin-top: 2rem;
    align-items: flex-end;
}
.fullscreen{
    
}
.con{
    position: absolute;
    top: 65%;
    left: 30%;
}
.subir{
    padding: 5px 10px;
    background: #f55d3e;
    color:#fff;
    border-radius: 0.5rem;
    border:1px solid #fff;
}
.fas{
    background-image: url(../img/icoedit.jpg) ;
}
.subir:hover{
    color:#fff;
    background: #f7cb15;
} */

/* edit profile */
/* main, .center, .op, .asf, .check{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: var(--black);
    border-radius: 0.5rem;
    width: 95%;
    padding-bottom: 2rem;
    margin-top: 12rem;
    margin-bottom: 5rem;
}
.editUser{
    width: 100%;
}
.label_field, h2{
    color: var(--orange);
}
.field, .check_content{
    width: 85%;
}
.asf{
    margin-top: 1rem;
}
.label_field{
    font-size: 1.5rem;
    
}
hr{
    border-color: var(--orange);
    visibility: hidden;
}
.field_pass{
    width: 85%;
    margin-top: 1rem;
}
.txtarea{
    resize: none;
}
.input_field {
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    border: none;
    background-color: rgba(169, 169, 169, 0.589);
    outline: none;
    border-radius: 0.3rem;
    color: var(--white);
    font-size: 1.1rem;

}
.btn-update {
    display: block;
    font-family: var(--fuenteParrafos);
    color: var(--white);
    text-align: center;
    padding: 1rem 5rem;
    width: 80%;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border-color: var(--orange);
    border-radius: 0.6rem;
    background-color: var(--orange);
    color: var(--darkgray);
    cursor: pointer;
    margin-top: 2rem;
}
.btn-update:hover, .btn-updatePass:hover{
    color: var(--orange);
    background-color: var(--black);
    border-color: var(--orange);
    transition: background-color .8s ease;
}
.btn-updatePass {
    display: block;
    font-family: var(--fuenteParrafos);
    color: var(--white);
    text-align: center;
    padding: 1rem 5rem;
    font-size: 1.2rem;
    
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border-color: var(--orange);
    border-radius: 0.6rem;
    background-color: var(--orange);
    color: var(--darkgray);
    cursor: pointer;
    margin-top: 2rem;
}
@media (min-width: 768px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr 0fr 1fr;
        width: 70%;
    }
    .container{
        margin-top: 7rem;
    }
    hr{
        visibility: visible;
    }
}
 */


 :root {
    --fuenteHeading: 'Square Peg', cursive;
    --fuenteParrafos: 'PT Serif', serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--darkgray);
}

:root {
    --fuenteHeading: 'Square Peg', cursive;
    --fuenteParrafos: 'Roboto', sans-serif;

    --white: #ffffff;
    --black: #111111;
    --orange: #fe6f27;
    --ligthgray: #8C8C8C;
    --darkgray: #1f1f1f;
    --darker: #1E1E1E;
}

body{
    margin: 0 auto;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
.fonth2{
    font-size: 2.2rem;
    width: bold;
    padding: 1rem 0;
    padding-top: 2rem;
    text-align: center;
}
/* edit banner and profile */
header {
    position: relative;
    width: 100%;
    height: 60vh;
    /* background-image: url(../img/banner.webp); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ftprofile {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background-size: cover;
    /* background-image: url(../img/perfil.webp); */
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10rem;
    border: 0.5rem solid var(--white);
    
    left: 45%;
    margin: -100px 0 0 -100px;
}

/* file input */
.fullscreen{
    position: absolute;
    top: 5%;
    left: 10%;
    
}


.img{
    background-image: url(../img/icoedit.jpg);
    width: 6rem;
    height: 6rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10rem;
    border: 3px solid var(--black);
    opacity:0.7;
}
.img2{
    background-image: url(../img/icoedit.jpg);
    width: 6rem;
    height: 6rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10rem;
    border: 3px solid var(--white);
}

 
.subir:hover{
    color:#fff;
    background: #f7cb15;
}
.abc{
    position: relative;
}
.fullscreen2 {
    position: absolute;
    top: 10%;
    left: 79%;
}
.btnImg{
    font-family: var(--fuenteParrafos);
    color: var(--white);
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border-color: var(--orange);
    border-radius: 0.2rem;
    background-color: var(--orange);
    color: var(--darkgray);
    cursor: pointer;
}
.btnImg:hover{
    color: var(--orange);
    background-color: var(--black);
    border-color: var(--orange);
    transition: background-color .8s ease;
}
.frm{
    position: relative;
}
.btnImg{
    position: absolute;
    top: 82%;
    left: 15%;
}
@media (max-width: 863px) {
    .btnImg{
        top: 103%;
        left: 35%;
    }
}
@media (max-width: 618px) {
    .btnImg{
        top: 103%;
        left: 25%;
    }
}




/* edit profile */
main, .center, .op, .asf, .check{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: var(--black);
    border-radius: 0.5rem;
    width: 95%;
    padding-bottom: 2rem;
    margin-top: 6rem;
    margin-bottom: 5rem;
}
.editUser{
    width: 100%;
}
.label_field, h2{
    color: var(--orange);
}
.field, .check_content{
    width: 85%;
}
.asf{
    margin-top: 1rem;
}
.label_field{
    font-size: 1.5rem;
    
}
hr{
    border-color: var(--orange);
    visibility: hidden;
}
.field_pass{
    width: 85%;
    margin-top: 1rem;
}
.txtarea{
    resize: none;
}
.input_field {
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    border: none;
    background-color: rgba(169, 169, 169, 0.589);
    outline: none;
    border-radius: 0.3rem;
    color: var(--white);
    font-size: 1.1rem;

}
.btn-update {
    display: block;
    font-family: var(--fuenteParrafos);
    color: var(--white);
    text-align: center;
    padding: 1rem 5rem;
    width: 80%;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border-color: var(--orange);
    border-radius: 0.6rem;
    background-color: var(--orange);
    color: var(--darkgray);
    cursor: pointer;
    margin-top: 2rem;
}
.btn-update:hover, .btn-updatePass:hover{
    color: var(--orange);
    background-color: var(--black);
    border-color: var(--orange);
    transition: background-color .8s ease;
}
.btn-updatePass {
    display: block;
    font-family: var(--fuenteParrafos);
    color: var(--white);
    text-align: center;
    padding: 1rem 5rem;
    font-size: 1.2rem;
    
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border-color: var(--orange);
    border-radius: 0.6rem;
    background-color: var(--orange);
    color: var(--darkgray);
    cursor: pointer;
    margin-top: 2rem;
}
@media (min-width: 768px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr 0fr 1fr;
        width: 70%;
    }
    .container{
        margin-top: 3rem;
    }
    hr{
        visibility: visible;
    }
}


