/*
SocialSpot 2022
Made by: 
 soulbroken
 Prybet
*/
/* 
    Created on : 13-ago-2022, 13:16:46
    Author     : nacho
*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body{
    background-color: var(--darkgraymodern);
}
.no-margin {
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ------- body ------ */
.container-grid{
    display: grid;
    grid-template-columns: 1.5fr 0fr 1fr;
}
.container-flex{
    height: 100vh;
}
.cont{
    width: 80%;
}
h1{
    font-size: 6.5rem;
    color: var(--primary);
    text-align: center;
}
span{
    color: var(--ligthgray);
}
p{
    color: var(--black);
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}
.img_logoo{
    width: 60rem;
    height: 16.5em;
}
hr {
    margin: 12rem 1rem;
    padding: 0.1rem;
    border-color: var(--primary);
    background-color: var(--primary);
    border: 1px solid var(--black);
    border-radius: 5rem;
}
.container-form{
    width: 100%;
}
.login{
    background-color: var(--black);
    width: 60%;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 30px var(--darker);
}
.log {
    text-align: center;
    font-size: 2.2rem;
    color: var(--primary);
}
.field {
    display: flex;
    margin-bottom: 2rem;
}
.input_field {
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid var(--primary);
    background-color: rgba(169, 169, 169, 0);
    outline: none;
    padding-bottom: 0.3rem;
    font-size: 1.5rem;
    color: var(--second);
}
.error{
    display: flex;
    justify-content: center;
    width: 100%;
}
.hidden{
    display: none;
}
.red{
    color: var(--red);
    font-size: 1.5rem;
    width: 80%;
    margin-bottom: 1rem;
}
.input_link {
    text-align: center;
    text-decoration: none;
    color: var(--primary);
    margin: 0 auto;
    font-size: 1.5rem;
}
.btn-login {
    display: block;
    /** Esto permite que el boton ocupe todo el ancho de la pantalla **/
    color: var(--primary);
    text-align: center;
    padding: 1rem 9rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border-color: var(--primary);
    border-radius: 0.6rem;
    background-color: var(--dark);
    cursor: pointer;
}
.btn-singIn {
    display: block;
    /** Esto permite que el boton ocupe todo el ancho de la pantalla **/
    color: var(--white);
    text-align: center;
    padding: 1rem 9rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border-color: var(--primary);
    border-radius: 0.6rem;
    background-color: var(--primary);
    color: var(--darkgray);
    cursor: pointer;
}
.btn-login:hover {
    color: var(--black);
    background-color: var(--primary);
    border-color: var(--primary);
    transition: background-color .8s ease;
}
.btn-singIn:hover {
    color: var(--primary);
    background-color: var(--black);
    border-color: var(--primary);
    transition: background-color .8s ease;
}

/* slider */
.contain_slide{
    position: relative;
}
.slider{
    width: 80rem;
    height: 40rem;
    border-radius: 1rem;
    overflow: hidden;
    border: 0.3rem solid var(--primary);
    box-shadow: 0px 0px 30px var(--darker);
}
.slides{
    width: 500%;
    height: 50rem;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    background-position: center center;
    background-size: cover;
    width: 80rem;
    height: 40rem;
}

.navigation-manual{
    position: absolute;
    width: 80rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.manual-btn{
    border: 2px solid var(--primary);
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 3rem;
}
.manual-btn:hover{
    background-color: var(--dark);
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;   
    display: flex;
    width: 80rem;
    justify-content: center;
    margin-bottom: 1rem;
    bottom: 0;
}
.navigation-auto div{
    border: 2px solid var(--primary);
    padding: 0.5rem;
    border-radius: 1rem;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 3rem;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--primary);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--primary);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--primary);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--primary);
}


@media(max-width: 1337px){
    .login{
        width: 75%;
    }
}
@media(max-width: 1233px){
    .login{
        width: 90%;
    }
}

@media(max-width: 1177px){
    hr{
        display: none;
    }
    .container-grid{
        grid-template-columns: none;
        margin-top: -5rem;
    }
    .container-flex{
        height: auto;
        justify-items: center;
    }
    .slider{
        width: 40rem;
        height: 20rem;
    }
    .slide img{
        width: 40rem;
        height: 20rem;
    }
    .navigation-auto{
        width: 48rem;
    }
    .navigation-manual{
        width: 48rem;
    }
    .contain_slide{
        display: none;
    }
    .login{
        width: 35rem;
    }
    .img_logoo{
        width: 40rem;
        height: 11rem;
    }
    p{
        font-size: 1.7rem;
    }
}
@media(max-width: 625px){
    
}
@media(max-width: 625px){
    .img_logoo{
        width: 35rem;
        height: 9.6rem;
    }
}