html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--darkgraymodern);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body{
    margin: 0 auto;
}

/* Globales */
.no-margin {
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.a{
    position: fixed;
    z-index: 100;
}

.pointer{
    cursor: pointer;
}
/* contain */
.container_post{
    margin-top: 7rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.contain_post-grid{
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    height: 5rem;
}


/* UPLOAD FIELD */
.contain_main{
    width: 100%;
}
.upload{
    background-color: var(--darker);
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    width: 100%;
    padding: 2rem;
    border: 2px solid var(--darker);
    text-decoration: none;
}
.upload:hover{
    border: 2px solid var(--primary);
}
.upload__field{
    display: flex;
    width: 95%;
}
.upload__fiel-input{
    width: 100%;
    margin: 0 auto;
    border: none;
    background-color: var(--black);
    outline: none;
    border-radius: 0.3rem;
    color: var(--white);
    font-size: 1.3rem;
    padding-left: 1rem;
}
.upload__fiel-input::placeholder{
    color: var(--primary);
    text-decoration: none;
    font-size: 1.5rem;
}
.img{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}
.img-user{
    width: 4rem;
    height: 3rem;
    border-radius: 4rem;
    margin-right: 1.5rem;
}
.img-photo{
    background-image: url(../img/PostImage.png);
    width: 4rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    border: 1px solid var(--black);
}
.img-maps{
    background-image: url(../img/PostMap.png);
    width: 4rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    border: 1px solid var(--black);
}

/* MOST BTN */
.post_most{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    background-color: var(--darker);
    border-radius: 0.3rem;
    width: 100%;
    padding: 1.5rem;
}
.most-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem; 
}
.most{
    width: 95%;
}
.most_btn{
    background-color: var(--black);
    color: var(--primary);
    border-radius: 0.5rem;
    border: 1px solid var(--ligthgray);
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.most_btn:first-of-type{
    background-color: var(--primary);
    color: var(--black);
    border: 1px solid var(--black);
} 
/* ITEM */
.contain_post{
    width: 75rem;
    background-color: var(--darker);
    margin: 2rem 0;
    border-radius: 0.3rem;
    padding: 1.5rem 0;
    border: 2px solid var(--darker);
    overflow: hidden;
}
.contain_post:hover{
    border: 2px solid var(--primary);
}
.container_p{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    position: relative;
}
.img-cate{
    border-radius: 5rem;
    width: 3rem;
    height: 3rem;
    margin-left: 3rem;
}
.name-cate{
    margin-left: 2rem;
    color: var(--primary);
}
.name-prim{
    margin-left: 0.5rem;
}
.more-post{
    position: absolute;
    right: 0;
    margin-right: 3rem;
    background-color: var(--darker);
    border: none;
}
.color-lig{
    color: var(--ligthgray);
}
.container_info{
    display: flex;
    justify-content: center;
    width: 100%;
}
.container_info-descrip{
    width: 90%;
}
.color-ora{
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
}
.cont-p{
    font-size: 1.5rem;
}
.contain-img{
    display: flex;
    position: relative;
    max-height: 100vh;
    width: 75rem;
    
}
.container_img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--niga);
    width: 75rem;
    max-height: 50vh;
}
.img_post{
    min-width: 75rem;
    max-height: 50vh;
    object-fit: contain;
}
.img_images-ico{
    position: absolute;
    width: 8rem;
    height: 8rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background-color: transparent;
    border: none;
    z-index: 99;
}
.img_images-ico:hover{
    background-color: rgba(202, 202, 202, 0.486);
    border-radius: 5rem;
    
}
.cont-left{
    left: 3%;
    top: 40%;
}
.cont-right{
    right: 3%;
    top: 40%;
}
.img-left{
    margin-right: 1.5rem;
    visibility: hidden;
}
.img-right{
    margin-left: 1.5rem;
    visibility: hidden;
}

.flex_option{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.container_option-post{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
.container_option-postNOP{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.img_option-post{
    width: 3rem;
    height: 3rem;
}
.cont-pst{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
}
.lbl_edit-post{
    color: var(--ligthgray);
}
.divcom{
    background-color: var(--darker);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heartLike{
    display: flex;
    cursor: pointer;
    border: none;
    background: transparent;
    justify-content: center;
    align-items: center;
}

.heartNotLike{
    cursor: pointer;
    border: none;
    background: transparent;
    justify-content: center;
    align-items: center;
}
.conta-p{
    width: 20%;
    text-decoration: none;
    margin-left: -1rem;
}
.conta_a-user{
    text-decoration: none;
}
/* CATEGORY POPULAR */
.contain_popular{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: right;
}
.t{
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}
.contain_pupular-content{
    background-color: var(--darker);
    width: 41rem;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
}
.contain_h2-des{
    background-color: var(--primary);
    border-radius: 0.5rem;
}
.descrip_h2{
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    margin-top: -0.5rem;
}
.lbl-hi-h2{
    width: 100%;
    height: 0.4rem;
    background: var(--primary);
    margin: 0;
}
.descrip_sport{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1.5rem;
    font-size: 1.5rem;
    
}
.contain_lbl-pupular{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5rem;
}
.descrip_label{
    color: var(--ligthgray);
    font-weight: bold;
}
.descrip_label span{
    color: var(--second);
}
span{
    color: var(--primary);
}
.btn_popular-cate{
    background-color: var(--black);
    color: var(--primary);
    border-radius: 0.5rem;
    border: 1px solid var(--ligthgray);
    width: 50%;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem;
}
.btn_popular-cate:hover{
    background-color: var(--primary);
    color: var(--black);
    transition: 0.5s;
    border: 1px solid var(--black);
}

/* FOOTER */
.flex-footer{
    width: 100%; 
    margin-top: 1rem;
}
.container_footer{
    background-color: var(--darker);
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1.5rem;
    padding-left: 3rem;
}
.container_footer a{
    text-decoration: none;
}
.container_footer label{
    color: var(--primary);

}
.footer_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 1rem;
}
.footer_relleno{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 1rem;
}
a{
    color: var(--ligthgray);
    background-color: var(--darker);
}
.rell{
    padding-top: 0.5rem;
}
.esp{
    padding: 0.5rem 1rem;
}
label{
    color: var(--ligthgray);
} 

.l{
    font-size: 10rem;
}


/* MODAL */
.contain_modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
    background-color: rgba(0, 0, 0, 0.329);
    z-index: 200;
}
.contain_mod{
    width: 40rem;
    height: 40rem;
    font-size: 2rem;
    position: relative;
    background-color: var(--darker);
    top: 50%;
    margin-top: -20rem;
    left: 50%;
    margin-left: -20rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    display: grid;
    grid-template-columns: 1fr;
}
.btn{
    width: 60%;
    background-color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--black);
    font-weight: bold;
    border: 1px solid var(--primary);
}
.btn:last-of-type{
    margin-top: 2rem;
}
.btn:hover{
    background-color: var(--black);
    transition: 0.5s;
    color: var(--primary);
    border: 1px solid var(--ligthgray);
}
.contain_btn-profile{
    display: flex;
    justify-content: center;
}
/* MODAL REPORT */
.contain_report{
    width: 40rem;
    height: 40rem;
    font-size: 2rem;
    position: relative;
    background-color: var(--darker);
    top: 50%;
    margin-top: -20rem;
    left: 50%;
    margin-left: -20rem;
    border-radius: 0.5rem;
    display: flex;
    border: 1px solid var(--primary);
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 2rem 0;
}

.question{
    color: var(--primary);
    font-size: 2.5rem;
}
.contain-form{
    padding: 1rem 3rem;
    color: var(--ligthgray);
}
.lbl-ques{
    text-align: left;
    color: var(--primary);
    font-size: 2rem;
}
.conta_rep{
    display: grid;
    grid-template-columns: 0fr 1fr;
    margin: 1rem 0;
}
.second-div{
    margin: 1rem;
}
.center{
    text-align: center;
    margin: 0;
}
.input_report{
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
}
.btn{
    width: 60%;
    background-color: var(--primary);
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--black);
    font-weight: bold;
    border: 1px solid var(--primary);
}
.btn:hover{
    background-color: var(--black);
    transition: 0.5s;
    color: var(--primary);
    border: 1px solid var(--ligthgray);
}
.contain_btn-profile{
    display: flex;
    justify-content: center;
}
.contain_modal-profile{
    visibility: hidden;
    display: none;
}
/* MODAL EDIT POST*/
.contain_btn-editPost{
    visibility: hidden;
    display: none;
}
/* MODAL DELETE POST*/
.contain_btn-deletePost{
    visibility: hidden;
    display: none;
}

.contain_btn-follow{
    visibility: hidden;
    display: none;
}
/*  MODAL WARNING REPORT */
.modal-warning{
    opacity: 1;
    pointer-events: auto;
}
.div-warning{
    display: flex;
    justify-content: center
}
.conta_warn{
    display: grid;
}
.btn-warning{
    margin-top: 5rem;
    background-color: var(--primary);
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--black);
    font-weight: bold;
    border: 1px solid var(--primary);
}
.btn-warning:hover{
    background-color: var(--black);
    color: var(--primary);
    border: 1px solid var(--primary);
}
.lblWar{
    margin-top: 1.5rem;
}