
html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--darkgraymodern);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body{
    margin: 0 auto;
}

/* Globales */
.no-margin {
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* contain */
.contain{
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    width: 100%;
    height: auto;
}
.contain_grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    margin: 0 18rem;
    position: relative;
}
.a{
    position: fixed;
    z-index: 100;
}
/* upload post  */
main{
    margin: 0 3rem;
}
.upload{
    background-color: var(--darkgray);
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    width: 100%;
    padding: 1rem;
}
.upload__field{
    display: flex;
    width: 95%;
}
.upload__fiel-input{
    width: 100%;
    margin: 0 auto;
    border: none;
    background-color: var(--black);
    outline: none;
    border-radius: 0.3rem;
    color: var(--white);
    font-size: 1.3rem;
    padding-left: 1rem;
}
.post__fiel-input::placeholder{
    color: var(--orange);
}
.img{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}
.img-user{
    background-image: url(../img/perfil.webp);
    width: 4rem;
    height: 3rem;
    border-radius: 4rem;
    margin-right: 1.5rem;
}
.img-photo{
    background-image: url(../img/PostImage.png);
    width: 4rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    border: 1px solid var(--black);
}
.img-maps{
    background-image: url(../img/PostMap.png);
    width: 4rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    border: 1px solid var(--black);
}

/* field option new, salient, most voted */
.post_most{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    background-color: var(--darkgray);
    border-radius: 0.5rem;
    width: 100%;
    padding: 1rem;
}
.most-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    
}
.most{
    width: 95%;
}
.most_btn{
    background-color: var(--black);
    color: var(--orange);
    border-radius: 0.5rem;
    border: 1px solid var(--ligthgray);
    width: 100%;
    padding: 0.5rem 0;
    font-weight: bold;
    cursor: pointer;
}
.most_btn:first-of-type{
    background-color: var(--orange);
    color: var(--black);
    border: 1px solid var(--black);
}

/* descrip */
.conten{
    height: 100vh;
    
    position: fixed;
    width: 35rem;
    right: 0%;
    margin: 0 18rem;
}

.qwe{
    width: 80%; 
}
.container__descrip{
    display: flex;
    justify-content: center;
    align-items: center;
}
.descrip{
    background-color: var(--darkgray);
    border-radius: 0.5rem;
    width: 100%;
}
.descrip_h2{
    background-color: var(--orange);
    text-align: center;
    padding: 1.5rem 0;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}
.descrip_sport{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
}
.descrip_label{
    text-align: center;
    color: var(--ligthgray);
    font-weight: bold;
}
.descrip_btn{
    background-color: var(--black);
    color: var(--orange);
    border-radius: 0.5rem;
    border: 1px solid var(--ligthgray);
    width: 80%;
    font-weight: bold;
    cursor: pointer;
}

/* footer */
.container_footer{
    background-color: var(--darkgray);
    border-radius: 0.5rem;
    width: 80%;
    margin-top: 2rem;
    border-radius: 0.5rem;
}
.footer_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 1rem;
}
.footer_relleno{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 1rem;
}
a{
    color: var(--ligthgray);
    text-decoration: none;
}
.rell{
    padding-top: 0.5rem;
}
.esp{
    padding: 0.5rem 1rem;
}
label{
    color: var(--ligthgray);
}


