html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--darkgray);
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0 auto;
    font-family: var(--fuenteParrafos);
}

.no-margin {
    margin: 0 auto;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
}
.a {
    background-color: aqua;
}

.b {
    background-color: blueviolet;
}
.c{
    background-color: brown;
}
.descrip{
    background-color: burlywood;
}
.e{
    width: 100%;
    height: 10vh;
    background-color: aliceblue;
}
.l{
    background-color: cadetblue;
}
.d{
    background-color: rgb(152, 17, 118);
}