/*
SocialSpot 2022
Made by: 
 soulbroken
 Prybet
*/
/* 
    Created on : 13-ago-2022, 13:16:46
    Author     : nacho
*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--darkgraymodern);
}

body{
    margin: 0 auto;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
/* NAV */
.nav{
    position: fixed;
    z-index: 100;
}
/* BANNER AND PROFILE */
.contain_images{
    margin-top: 6rem;
}
.frm{
    position: relative;
}
header {
    position: relative;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--black);
    box-shadow: 0px 0px 30px var(--darker);
    border-bottom: 2px solid var(--second);
}
.banner{
    position: absolute;
    top: 5%;
    left: 15%;
    
}
.img{
    background-image: url(../img/icoedit.jpg);
    width: 6rem;
    height: 6rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10rem;
    border: 3px solid var(--black);
    opacity:0.7;
}
.input_file-banner{
    display: none;
}

.ftprofile {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10rem;
    border: 0.5rem solid var(--second);
    box-shadow: 0px 0px 30px var(--darker);
    left: 45%;
    margin: -100px 0 0 -100px;
}
.abc{
    position: relative;
}
.fullscreen2 {
    position: absolute;
    top: 10%;
    left: 79%;
}
.img2{
    background-image: url(../img/icoedit.jpg);
    width: 6rem;
    height: 6rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10rem;
    border: 3px solid var(--second);
}
.input_file-profile{
    display: none;
}
.btnImg{
    font-family: var(--fuenteParrafos);
    color: var(--second);
    text-align: center;
    padding: 0.5rem 6rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border-color: var(--primary);
    border-radius: 0.2rem;
    background-color: var(--primary);
    color: var(--darkgray);
    cursor: pointer;
    position: absolute;
    top: 70%;
    right: 120%;
}
.btnImg:hover{
    color: var(--primary);
    background-color: var(--black);
    border-color: var(--primary);
    transition: background-color .8s ease;
}

.fonth2{
    font-size: 2.2rem;
    width: bold;
    padding: 1rem 0;
    padding-top: 2rem;
    text-align: center;
}
.fonth2{
    font-size: 2.2rem;
    width: bold;
    padding: 1rem 0;
    padding-top: 2rem;
    text-align: center;
}
main, .center, .op, .asf{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: var(--black);
    border-radius: 0.5rem;
    padding-bottom: 2rem;
    margin-top: 6rem;
    margin-bottom: 5rem;
    width: 120rem;
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
}

.editUser{
    width: 100%;
}
.label_field, h2{
    color: var(--primary);
}
.field{
    width: 70%;
}
.check_content{
    width: 85%;
}
.asf{
    margin-top: 1.5rem;
}

.contain_provi{
    visibility: hidden;
    display: none;
}
.contain_city{
    visibility: hidden;
    display: none;
}

.asf-conta{
    width: 70%;
}
.label_field{
    font-size: 1.5rem;
    
}
.contain_btn-flex{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
      
}
.contain_btn-edit{
    width: 70%;
    display: flex;
    justify-content: right
}
.btn_edit-ubi{
    background-color: var(--black);
    border: none;
    color: var(--primary);
    cursor: pointer;
}
hr{
    border-color: var(--primary);
}
.field_pass{
    width: 70%;
    margin-top: 1rem;
}
.select{
    width: 100%;
    background-color: var(--darkgraymodern);
    color: var(--black);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.txtarea{
    resize: none;
}
.input_field {
    width: 100%;
    padding: 0.8rem;
    margin: 0 auto;
    border: none;
    background-color: var(--darkgraymodern);
    outline: none;
    border-radius: 0.3rem;
    color: var(--black);
    font-size: 1.1rem;
    
}
.check{
    margin-top: 1rem;
    text-align: right;
}

.btn-update {
    display: block;
    font-family: var(--fuenteParrafos);
    text-align: center;
    padding: 1rem 5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border-color: var(--primary);
    border-radius: 0.6rem;
    background-color: var(--primary);
    color: var(--darkgray);
    cursor: pointer;
    margin-top: 2rem;
}
.btn-update:hover, .btn-updatePass:hover{
    color: var(--primary);
    background-color: var(--black);
    border-color: var(--primary);
    transition: background-color .8s ease;
}
.btn-updatePass {
    display: block;
    font-family: var(--fuenteParrafos);
    color: var(--white);
    text-align: center;
    padding: 1rem 5rem;
    font-size: 1.2rem;
    
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border-color: var(--primary);
    border-radius: 0.6rem;
    background-color: var(--primary);
    color: var(--darkgray);
    cursor: pointer;
    margin-top: 2rem;
}


.contain_drop{
    display: flex;
    justify-content: center;
}
.btn-drop{
    font-family: var(--fuenteParrafos);
    color: var(--white);
    text-align: center;
    padding: 1rem 5rem;
    font-size: 1.2rem;
    
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border: 1px solid var(--black);
    border-radius: 0.6rem;
    background-color: var(--primary);
    color: var(--darkgray);
    cursor: pointer;
    margin-top: 2rem;
}
.btn-drop:hover{
    color: var(--red);
    background: var(--black);
    transition: background-color .8s ease;
    border: 1px solid var(--red);
}

/* FOOTER */
.contain_img-logo{
    height: 4.5rem;
    width: 20rem;
    margin-top: 2rem;
}
footer{
    background-color: var(--darker);
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 2rem 0;
}
.contain_footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    margin: 0 15rem;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contain_others{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.contain_a:last-of-type{
    margin-top: 1rem;
    font-size: 1.5rem;
}
.lbl{
    margin-right: 1rem;
    color: var(--primary);
}
a{
    color: var(--ligthgray);
    text-decoration: none;
}
.footer_rel{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.lbl_tem{
    text-align: right;
    margin-right: 1rem;
    color: var(--primary);
}
.owern{
    display: flex;
    justify-content: right;
    align-items: center;
    color: var(--primary);
}
.owern label{
    font-size: 1.5rem;
}
.esp{
    margin-top: 1rem;
}

/* MODAL */
.contain_modal-profile{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
    background-color: rgba(0,0,0,.8);
    z-index: 200;
}
.contain_mod{
    width: 40rem;
    height: 40rem;
    font-size: 2rem;
    position: relative;
    background-color: var(--darker);
    top: 50%;
    margin-top: -20rem;
    left: 50%;
    margin-left: -20rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    display: grid;
    grid-template-columns: 1fr;
}
.lbl_h2{
    font-size: 2rem;
    text-align: center;
}
.contain_btn-profile form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contain_btn-profile{
    display: flex;
    justify-content: center;
}
.btn{
    width: 60%;
    background-color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--black);
    font-weight: bold;
    border: 1px solid var(--primary);
}
.btn:last-of-type{
    margin-top: 2rem;
}
.btn:hover{
    background-color: var(--black);
    transition: 0.5s;
    color: var(--primary);
    border: 1px solid var(--ligthgray);
}
.btnDelet:hover{
    background-color: var(--black);
    transition: 0.5s;
    color: var(--red);
    border: 1px solid var(--red);
}
.contain_modal{
    visibility: hidden;
    display: none;
}

.input_field_danger{
    border: 1px dashed var(--red);
}
.red{
    color: var(--red);
    font-size: 1.5rem;
}
.div-hidden{
    display: none;
}
@media (max-width: 1233px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 70rem;
    }
    .contain_footer{
        grid-template-columns: 1fr 2fr;
    }
    .div-hidden{
        display: flex;
    }
    .owern{
        margin-top: 1rem;
    }
    .esp{
        margin-top: 0;
    }
    hr{
        display: none;
    }
}
@media (max-width: 949px) {
    .contain_footer{
        margin: 0 5rem;
    }   
}
@media (max-width: 747px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .btnImg{
        top: 107%;
        right: 0;
    }
    .contain_footer{
        grid-template-columns: 2fr;
        margin: 0;
    }
    .contain_log{
        display: flex;
        justify-content: center;
    }
    .contain_others{
        align-items: normal;
        margin-top: 2.5rem;
    }
    .owern{
        justify-content: center;
    }
}

