/*
SocialSpot 2022
Made by: 
 soulbroken
 Prybet
*/
/* 
    Created on : 13-ago-2022, 13:16:46
    Author     : nacho
*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--darkgraymodern);
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    margin: auto 0;
    font-family: var(--fuenteParrafos);
}

.container {
    max-width: 85%;
    width: 120;
    margin: 0 auto;
    box-shadow: 0px 0px 30px var(--darker);
}

span {
    color: var(--primary);
}

.no-margin {
    margin: 0;
}

.a {
    font-size: 6rem;
    text-align: center;

    color: var(--dark);
}

.info {
    text-align: center;
    font-size: 1.5rem;
    color: var(--ligthgray);
}

hr {
    margin: 3rem 2rem;
    border-color: var(--primary);
    background-color: var(--primary);
}
.error{
    padding-left: 5rem;
}
.log {
    text-align: center;
    font-size: 2rem;
    color: var(--primary);
}

.field {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
}
.field label{
    color: var(--red);
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
.input_field {
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid var(--primary);
    background-color: rgba(169, 169, 169, 0);
    outline: none;
    color: var(--second);
}

.input_field_danger{
    border: 1px dashed var(--red);
    border-radius: 0.2rem;
}

.input_link {
    text-align: center;
    text-decoration: none;
    color: var(--primary);
    margin: 0 auto;
    font-size: 1.5rem;
}
.btn_decorate{
    display: block;
    /** Esto permite que el boton ocupe todo el ancho de la pantalla **/
    font-family: var(--fuenteParrafos);
    text-align: center;
    padding: 1rem 9rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border-color: var(--primary);
    border-radius: 0.6rem;
    cursor: pointer;
}
.btn-login {
    color: var(--primary);
    background-color: var(--dark);
}

.btn-singIn {
    color: var(--second);
    background-color: var(--primary);
    color: var(--darkgray);
}

.log-in,
.sig-in,
.pass-in {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

@media (min-width: 934px) {
    .a {
        font-size: 5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr 0fr 1fr;

    }

    .contenido-info {
        text-align: center;
        font-size: 3rem;
    }


    hr {
        margin: 0 9rem;
    }

    .log {

        font-size: 3rem;
        text-align: center;
        font-family: var(--fuenteParrafos);
    }

    .login {
        background-color: var(--black);
        border-radius: 1rem;
        margin-top: -3rem;
    }
}

@media (max-width: 934px) {
    .container {
        max-width: 60%;
        margin: 0 auto;
    }
}

@media (max-width: 632px) {
    .container {
        max-width: 85%;
        margin: 0 auto;
    }
}

.btn-login:hover {
    color: var(--black);
    background-color: var(--primary);
    border-color: var(--primary);
    transition: background-color .8s ease;
}

.btn-singIn:hover {
    color: var(--primary);
    background-color: var(--black);
    border-color: var(--primary);
    transition: background-color .8s ease;
}


/** crear cuenta **/
.field:first-of-type {
    margin-top: 3rem;
}

p {
    font-size: 1.4rem;
    text-align: center;
    color: var(--primary);
}

.mainn {
    background-color: var(--black);
    border-radius: 1rem;
    padding: 2rem;
    max-width: 40rem;
    /** IMPORTANTE: CTRL+K+U y esta linea que permite tener el contennido al centro**/
    margin: 0 2rem;
}

.aa {
    font-size: 6rem;
    text-align: center;
    font-family: fontTitle;
    color: var(--ligthgray);
}

.link {
    text-decoration: none;
    color: var(--primary);
}

.p_in {
    color: var(--ligthgray);
}

input[type="date"] {
    color: var(--ligthgray);
}

.u {
    margin: 1rem 2rem;
}

/** pass **/
.input_pass{
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid var(--primary);
    background-color: rgba(169, 169, 169, 0);
    outline: none;
    color: var(--white);
}
.btn-pass{
    display: block;
    font-family: var(--fuenteParrafos);
    color: var(--second);
    text-align: center;
    padding: 1rem 9rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    border-color: var(--primary);
    border-radius: 0.6rem;
    background-color: var(--red);
    color: var(--darkgray);
    cursor: pointer;
    margin-top: 2rem;
}
.btn-pass:hover{
    color: var(--primary);
    background-color: var(--black);
    border-color: var(--primary);
    transition: background-color .8s ease;
}
.b{
    font-size: 6rem;
    text-align: center;

    color: var(--dark);
}
@media (max-width: 470px) {
    .conten{
        width: 80%;
    }
    .b{
        font-size: 3rem;
    }
}
/* recovery */
.info-h{
    color: var(--primary);
    padding-top: 0.7rem;
}
.info-r{
    padding-top: 0.5rem;
}
.input_reco{
    font-size: 1.5rem;
}
/* pass */
.info_p{
    color: var(--primary);
    margin-top: 0.5rem;
}
.inp_p{
    font-size: 1.5rem;
}
.red{
    display: none;
}


/* recovery */

@media(max-width: 407px){
    .btn-login{   
        padding: 1rem 6rem;
    }
}