html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--darkgraymodern);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globales */
body {
  margin: 0 auto;

}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-img {
  width: 2.5rem;
  height: 2.5rem;
}

.btn-show {
  background-color: var(--black_nav);
  border: none;
}

label {
  color: var(--primary);
}

/*---nav--- */
nav {
  background-color: var(--darker);
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 6rem;
  padding: 0 30rem;
  border-bottom: 1px solid var(--ligthgray);
}

/* logo */
.contain_logo {
  width: 100%;
}

.a_logo {
  margin: 0 auto;
}

.img_logo {
  height: 5.5em;
  margin-top: 0.2rem;
}

span{
    color: var(--primary)
}
/* search */
.contain_search {
  border-radius: 0.1rem;
  width: 100%;
}
.conta {
  border: 0.5px solid var(--ligthgray);
  position: relative;
  width: 50rem;
}
.input_search {
  width: 100%;
  background-color: var(--black);
  border: none;
  padding: 1rem 1rem;
  color: var(--white);
}
.btn_find {
  background-color: var(--black_nav);
  border: none;
  position: absolute;
  right: 0%;
  margin-top: 0.2rem;
}
.img_search {
  margin-top: 0.2rem;
}
scroll-container {
  display: none; /* display: flex; */
  width: 50rem;
  height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: var(--black);
  color: var(--white);
  position: absolute;
  border-radius: 0.1rem;
  border-left: 1px solid var(--ligthgray);
  border-bottom: 1px solid var(--ligthgray);
  flex-direction: column;
  font-size: 1.5rem;
  margin: -0.1rem;
}
.search_user{
  margin: 0.5rem 1rem;
  display: flex;
  align-items: center;
  margin-right: 7rem;
  background-color: var(--black);
}
.typeSearch{
    position: absolute;
    left: 85%;
}
/* USER */
.contain_user {
  display: flex;
  justify-content: right;
  position: relative;
  font-size: 1.3rem;
  margin-left: 3rem;
  align-items: center;
}
.contain_user-ft{
    background-size: cover;
}
.imgUSer{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 5rem;
    margin-right: 1rem;
}
.btn_user-nav {
  background-color: var(--darker);
  border: none;
}
.img-user{
  border-radius: 5rem;
  margin-right: 1.5rem;
}
.img_user {
  border: none;
  position: relative;
}
.lbluser {
  margin: 0;
  color: var(--primary);
}

.decorate_user {
  height: 2rem;
  width: 2rem;
  position: absolute;
  transform: rotate(45deg);
  background-color: var(--black);
  margin-top: 5.5rem;
  visibility: hidden;
}

.contain_option {
  width: 15rem;
  height: 170px;
  margin-top: 22rem;
  background-color: var(--black);
  color: var(--white);
  position: absolute;
  border-radius: 0.5rem;
  visibility: hidden;
}

.contain_option button {
  background-color: var(--black);
  border: none;
}

.option {
  margin-top: 0.5rem;
  width: 100%;
}

.op {
  width: 100%;
  margin: 0.5rem 0;
}

.line {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  width: 100%;

  border-top: 1px solid var(--primary);
}

.lbl_c {
  font-size: 1.3rem;
}

.separation {
  margin-right: 0.5rem;
  border-radius: 5rem;
}

.container_spot {
  margin-top: 7rem;
  padding: 0 18rem;
}

.noFound-user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;
    color: var(--primary);
    font-size: 1.2rem;
}
.spnFollows{
    margin-left: 1rem;
    color: var(--ligthgray);
}
.size-imgg{
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
}
.noti_follow-inf{
    margin-left: 0.5rem;
}
.noti_follow-inf label{
    color: var(--second);
}
.size-imgg{
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
}