/* post */
.container_post{
    margin-top: 1.5rem;
    background-color: var(--darkgray);
    border-radius: 0.5rem;
    width: 100%;
    padding: 1rem;
}
.container_p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_descr{
    display: flex;
    width: 100%;
}
.flex_desc{
    display: grid;
    grid-template-columns: 0fr 1fr 1fr 1fr 1fr 0fr;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.img-post{
    background-image: url(../img/ProfilePhoto.png);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5rem;
    margin-left: 1.5rem;
}
.l_one{
    margin-left: 0.5rem;
}
.l_two{
    display: flex;
    
}
.label_post_by{
    margin-top: 1rem;
    
}
.p_post{
    margin-left: 0.2rem;
    color: var(--orange);
}
.l_four{
    text-align: right;
    margin-right: 1rem;
}
.l_five{
    margin-right: 1rem;
    background-image: url(../img/MenuPoints.png);
    width: 1.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: right;
}
.container_info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ligthgray);
}
.container_info-descrip{
    width: 95%;
}
.container_img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_post{
    width: 96%;
    height: 40vh;
}
.flex_option{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex_option{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container_option{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
}
.flex_img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.img_like{
    background-image: url(../img/Like.png);
    width: 2rem;
    height: 2rem;
    border: none;
}
.img_comen{
    background-image: url(../img/Replys.png);
    width: 2rem;
    height: 2rem;
}
.img_pointer{
    background-image: url(../img/Spot.png);
    width: 2rem;
    height: 2rem;
}